.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @include media(1060) {
    flex-wrap: wrap;
  }

  &__item {
    border-radius: 30px;
    padding: 15px 20px;
    background: #f9f9f9;
    color: #2c2c2c;
    font-size: 16px;
    font-weight: 700;

    &.active {
      border-radius: 30px;
      background: #282828;
      color: #fff;
    }
  }
}

.category {
  display: flex;
  gap: 8px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    width: 100%;
    height: 100%;

    &_img.active {
      transform: rotate(180deg);
    }

    span {
      color: #fe5f1e;
      font-size: 16px;
      font-weight: 400;
      border-bottom: 1px dashed #fe5f1e;
      cursor: pointer;
    }

    &-list {
      display: flex;
      flex-direction: column;
      max-width: 132px;
      width: 100%;
      height: 136px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.09);
      position: absolute;
      right: 0;
      top: 40px;
      padding: 14px 0;
      transition: all 0.5s linear;

      li {
        padding: 10px 14px;
        color: #000;
        font-size: 14px;
        font-weight: 400;
        transition: 0.1s linear;
      }

      li:hover {
        color: #fe5f1e;
        font-size: 14px;
        font-weight: 700;
        background: rgba(254, 95, 30, 0.05);
      }
    }
  }
}